:host {
  flex: 1;
  display: flex;
  background-color: var(--gray-bg);
}

.news {
  flex: 1;
  margin: 20px;
  border: 1px solid var(--gray-lines);
  box-sizing: border-box;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  overflow-y: auto;
  flex-wrap: wrap;
  padding: 10px;
}
