<div class="home">
	<div class="home__search">
		<ui-input
				class="home__search-input mr-r-5"
				[placeholder]="'Enter search value'"
				[formControl]="searchControl"
				[keys]="['Enter']"
				(keyDown)="search()"
		></ui-input>
		<fa-icon
				class="home__search-icon mr-l-5"
				icon="magnifying-glass"
				(click)="search()"
		></fa-icon>
	</div>
	<div
			*ngIf="!(isLoadingItems$ | async); else loader"
			class="home__results"
			appInfiniteScroll
			[infiniteScrollElements]="searchItems"
			(infiniteScrolled)="onInfiniteScrolled()"
	>
		<ng-container *ngIf="searchItems?.length; else emptyResult">
			<app-search-item
					*ngFor="let item of (searchItems$ | async); trackBy: trackByFn"
					[searchItem]="item"
			></app-search-item>

			<ng-container *ngIf="(isLoadingPagination$ | async)" [ngTemplateOutlet]="paginationLoader"></ng-container>
		</ng-container>
	</div>
</div>

<ng-template #emptyResult>
	<div class="home__results-empty">
		Sorry, no items found for {{ lastSearchValue || 'empty' }} query.
	</div>
</ng-template>

<ng-template #loader>
	<app-loader class="width-max height-max flex align-center justify-center"></app-loader>
</ng-template>

<ng-template #paginationLoader>
	<app-loader class="width-max flex align-center justify-center mr-t-5 mr-b-5"></app-loader>
</ng-template>
